{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src"
        },
        "extensions": [".js", ".json", ".ts", ".tsx"],
        "root": ["./src"]
      }
    ]
  ]
}
